.node {
  width: 25px;
  height: 25px;
  margin: 0px 2px;
  outline: 1px solid rgb(0, 145, 255);
  display: inline-block;
}

.node-finish {
  background-image: url(./../../assets/images/map-marker-alt-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.node-start {
  background-image: url(./../../assets/images/galactic-senate-brands.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(6, 6, 241, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(0, 70, 161, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgb(53, 53, 53);
  }
  100% {
    transform: scale(1);
    background-color: rgb(0, 0, 0);
  }
}

.node-wall {
  background-color: rgb(238, 255, 0);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(253, 182, 182);
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(251, 84, 84);
  }
  100% {
    transform: scale(1);
    background-color: rgb(255, 0, 0);
  }
}
