.Grid {
  margin: 20px 30px;
  padding: 8px 1.5px;
  border: 2px solid rgb(158, 6, 0);
}
.PathFinding__BFSButton {
  max-width: 250px;
  font-size: 1rem;
  color: white;
  padding: 10px;
  outline: none;
  background-color: red;
  border: 2px solid rgb(158, 6, 0);
  margin: 0px 20px;
  height: auto;
}
.Select {
  height: auto;
  font-size: 1rem;
  padding: 10px;
  width: 200px;
  background-color: red;
  border: 2px solid rgb(158, 6, 0);
  color: white;
  text-align: center;
  outline: none;
}

.Select__option {
  padding: 10px;
  width: 250px;
  color: white;
  text-align: center;
  outline: none;
  background-color: red;
  border: 2px solid rgb(158, 6, 0);
  border-radius: 20px;
  margin: 0px 20px;
}
